<h1 class="animated fadeIn fast">Sobre COMIC</h1>
<hr>
<div class="container animated fadeIn">
  <div class="row">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam placeat asperiores ullam laborum aliquam eius tenetur nemo obcaecati, illum consectetur perferendis perspiciatis praesentium tempore consequuntur mollitia, nobis modi. Quaerat, id!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi enim velit alias, nihil ex vitae placeat quod eveniet ipsum error ipsam molestiae, accusamus, quidem asperiores aspernatur facere quaerat! Eaque, nam!
    </p>
  </div>
</div>